body {
  font-family: Comfortaa, cursive;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,.8);
}

.modal {
  background: url('images/images-5.jpg');
  border: 3px solid rgba(255,255,255,.8);
  animation: colorRotate 3s linear infinite;
  font-size: 2.5vw;
  height: 600px;
  width: 90%;
  margin: 30px;
  text-align: center;
  color: white;
  padding: 20px;
}

/*.modal * {
  display: flex;
  vertical-align:baseline;
  flex-wrap: wrap;
}*/


.start-button {
  font-family: Comfortaa, cursive;
  font-weight: bolder;
  font-size: 20px;
  background-color: #00ffdf;
  padding: 20px;
  margin: 0 auto;
}

.go-button {
  font-family: Comfortaa, cursive;
  font-weight: bolder;
  font-size: 20px;
  background-color: #00ffdf;
  padding: 20px;
  margin: 60px auto;
  display: block;
}

#modal-repeat {
  display: none;
  height: 600px;
}

#modal-next-round {
  display: none;
}

#modal-win {
  display: none;
}

#modal-lose {
  display: none;
}

.game-container {
  display: none;
  margin-top: 50px;
}

.mushroom-container {
  display: none;
}

h2 {
  font-family: Comfortaa, cursive;
  text-align: left;
  display: block;
  font-size: 40px;
  padding-left: 50px;
}

h3 {
  font-family: Comfortaa, cursive;
  font-size: 40px;
  padding-right: 50px;
  margin-top: -79px;
  text-align: right;
  display: block;
}

.poisonous {
  display: block;
  position: absolute;
  background: #df00ff;
}

.normal {
  display: block;
  position: absolute;
}

.magic {
  display: block;
  position: absolute;
  background: #00ff5f;
}


/*keyframes animations - move to separate css file later ? */


@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(900deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes vibrate {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateY(6px);
  }
  75% {
    transform: translateX(6px);
  }
  100% {
    transform: translateY(6px);
    filter: hue-rotate(360deg);
  }
}

  /*@keyframes slideSlow {
    75% {
      margin-left: 25%;
    }
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }*/
  /*@@keyframes slideMed {
    75% {
      margin-left: 55%;
    }
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }

  @@keyframes colorFlash {
  25% {background-color: red}
  50% {background: blue}
  75% {background: yellow}
  100% {background: purple}
  }*/





/*Colors*/

/*purple: #df00ff */
/*yellow: #ffdf00*/
/*pink: #ff00a0
teal: #00ffdf
indigo: #5f00ff
green: #00ff5f
blue: #0020ff*/
