body {
  font-family: Comfortaa, cursive;
  background: radial-gradient(ellipse farthest-corner at 45px 45px , white 0%, grey 50%, black 95%);
  animation-name: colorRotate;
  animation-duration: 15s;
  animation-iteration-count: 2;
  color: rgba(255,255,255,.6);
}

.modal {
  background: url('images/images-5.jpg');
  border: 3px solid rgba(255,255,255,.8);
  animation: colorRotate 3s linear infinite;
  font-size: 2.5vw;
  height: 600px;
  width: 90%;
  margin: 30px;
  text-align: center;
  color: white;
  padding: 20px;
}

ul {
  display: none;
}


.start-button {
  font-family: Comfortaa, cursive;
  font-weight: bolder;
  font-size: 20px;
  background-color: #00ffdf;
  padding: 20px;
  margin: 0 auto;
}

.go-button {
  font-family: Comfortaa, cursive;
  font-weight: bolder;
  font-size: 20px;
  background-color: #00ffdf;
  padding: 20px;
  margin: 60px auto;
  display: block;
}

#modal-repeat {
  display: none;
  height: 600px;
}

#modal-next-round {
  display: none;
}

#modal-win {
  display: none;
  background: rgba(0,0,0,0.2);
}

#modal-lose {
  display: none;
}

.game-container {
  display: none;
  margin-top: 50px;
}

.mushroom-container {
  display: none;
  margin-top: -600px;
}

h2 {
  font-family: Comfortaa, cursive;
  text-align: left;
  display: block;
  font-size: 20px;
  padding-left: 50px;
}

h3 {
  font-family: 'Digital Dream Fat';
  font-size: 200px;
  marging-top: -140px;
  /*padding-right: 50px;
  margin-top: -79px;*/
  text-align: center;
  display: block;
}

.poisonous {
  display: block;
  position: absolute;
  /*background: #df00ff;*/

}

.normal {
  display: block;
  position: absolute;
}

.magic {
  display: block;
  position: absolute;
  /*background: #00ff5f;*/
}


/*keyframes animations - move to separate css file later ? */


@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: .5
  }
  100% {
    transform:  rotate(1800deg);
    filter: hue-rotate(720deg);
    opacity: 0
  }
}

@keyframes vibrate {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateY(6px);
    opacity: .5
  }
  75% {
    transform: translateX(6px);
  }
  100% {
    transform: scale(.5) translateY(6px);
    filter: hue-rotate(360deg);
    opacity: 0
  }
}
